*{
    margin:0;
    padding:0;
    border-color: white;
}
.contact-container{
    /* border-style: solid; */
    height: 100vh;
}
.contact-title{
/* border-style: solid; */
display: flex;
justify-content: center;
margin-top: 20px;
}
.contact-title p{
    font-size: 60px;
    font-weight: 800;
    color:#0ae115;
}
#quote{
    font-size: 18px;
    font-weight: 500;
    color:#999999;
}
.contact-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.contact-box a img{
    height: 80px;
    width: 80px;
    /* border-style: solid; */
    border-radius: 50%;
    border-width: 5px;
    border-color: #ffbd39;
    margin-bottom: 20px;
    margin-left: 15px;
}
.contact-box div h3{
    text-align: right;
    color:#ffbd39;
}
.abc{
    font-size: 25px;
    font-weight: 200;
}
