.hero-box {
    margin-top: 100px;
}

.hero-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-left: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.pic-container {
    width: 300px; /* Adjusted for mobile */
    height: 300px; /* Adjusted for mobile */
    margin-right: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #ffbd39;
}

/* Responsive styling */
@media (max-width: 890px) {
    .hero-inner {
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center;
        text-align: center;
    }

    .content {
        margin: 0;
        width: 100%;
        margin-bottom: 20
    }
}