*{
    margin:0;
    padding:0;
}

.outer {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .outer {
        padding: 10px;
    }
}
